.homepage {
  display: flex;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  gap: 10px;
}
.homepage__right {
  flex: 0.6;
  padding: 20px 10%;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.homepage__left {
  flex: 0.4;
  padding: 20px 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage__left img {
  width: 100%;
  object-fit: cover;
}
.homepage__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
